@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #000;
  color: #fff;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.92px;
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

button {
  display: flex;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  background: var(--main, #00ff37);

  color: #fff;
  /* 3 */
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.736px;

  cursor: pointer;
}
h3 {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px; /* 117.188% */
  letter-spacing: -2.048px;
}

.wrap {
  width: 100%;
}
